<div class="page-format">
  <div class="about">
    <div class="row">
      <div class="col s12">
        <h3>About Me</h3>
      </div>
      <div class="col s12">
          <button disabled md-fab class="title-icon">
            <md-icon>contacts</md-icon>
          </button>
        <h4 class="title">Introduction</h4>
      </div>
      <div class="col s12">
        <div class="hide-on-large-only center-align">
          <img src="https://s3.amazonaws.com/ryu-portfolio/static/img/profile.png" class="responsive-img circle">
        </div>
        <p>My name is <span>Ryusuke Lavalla</span> and I am a <span>full stack developer</span> based in <span> Brooklyn, New York.</span></p>
        <p>I love building beautiful, responsive, user-friendly, and functional websites with <span>Angular</span> and <span>Django</span> frameworks.</p>
        <p>As a web developer, I create dynamic applications for the web using <span>JavaScript</span>, <span>Python</span>, <span>TypeScript</span>, <span>CSS</span>, <span>SASS</span> and <span>HTML</span>.</p>
        <p>Passion for applying the most innovative web development technologies to the latest challenges in business. Adaptive to the rapidly unfolding world of digital information.</p>

        <p>In my free time, I like running, reading, and traveling.</p>
        <p>Need help with a project? Feel free to reach out and <a routerLink="/contact">contact me.</a></p>
      </div>
    </div>
  </div>
</div>
