<div class="page-format">
  <div class="row">
    <div class="col s12">
      <h3>Work</h3>
    </div>
<!--  -->
    <div class="col l1 left-side center-align hide-on-med-and-down">
      <button disabled md-fab>
        <md-icon>work</md-icon>
      </button>
      <p>2016 ~</p>
      <p>Current</p>
    </div>
<!--  -->
    <div class="col s12 l11 right-side">
      <div class="row">
      <!--          -->
        <div class="col s12">
          <p>I have been working as a freelance developer since 2016.</p>
          <p>Looking for a full-stack developer? <a class="nav-contact"routerLink="/contact">Contact me.</a> I will answer you in ~24 hours.</p>
          <hr>
        </div>
        <!--        -->
        <div class="col s12 m6">
          <h4>Wolfgang Douglas</h4>
          <h5>Digital Portfolio</h5>
          <p>The official website of Wolfgang Douglas, a NY based rock singer.</p>
          <ul>
            <li>Digital portfolio using Angular.js, Django, Apache and Postgres; deployed on Amazon Web
Services.</li>
            <li>Created RESTful API endpoints using Django Rest Framework to service single page application.</li>
            <li>Youtube content integration.</li>
            <li> Email routing and handling.</li>
          </ul>
          <div class="work-info">
            <p style="font-weight: bold;">Position:</p>
            <button md-button>Full Stack Web Developer</button>
          </div>
        </div>
        <div class="col s12 m6">
          <img class="responsive-img" src="https://s3.amazonaws.com/ryu-portfolio/static/img/wolfgang.png">
          <img class="responsive-img" src="https://s3.amazonaws.com/ryu-portfolio/static/img/wf2.png">
        </div>
        <div class="col s12 work-tech">
          <p>Technologies:</p>
          <div class="row">
            <div class="center-align">
              <div class="col s6 m3">
                <button md-button>Angular.js</button>
              </div>
              <div class="col s6 m3">
                <button md-button>Django</button>
              </div>
              <div class="col s6 m3">
                <button md-button>Materialize</button>
              </div>
              <div class="col s6 m3">
                <button md-button>PostgreSQL</button>
              </div>
              <div class="col s6 m3">
                <button md-button>Apache</button>
              </div>
              <div class="col s6 m3">
                <button md-button>AWS</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 work-links">
          <p>Links:</p>
          <div class="row center-align">
            <div class="col s12 m4 l3">
              <a href="http://www.wolfgangdouglas.com" target="_blank" md-button>
                <md-icon>web</md-icon>
                Go to the website
              </a>
            </div>
            <div class="col s12 m4 l3 offset-l1">
              <a href="https://github.com/ryusuke15/wolfgang-django" target="_blank" md-button>
                <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                Check out the code
              </a>
            </div>
          </div>
        </div>
        <div class="col s12">
          <hr>
        </div>
      </div>
<!--  -->
        <div class="col s12 m6">
          <h4>Rockwall Studios</h4>
          <h5>Online Brand</h5>
          <p>Rockwall Studios is a studio rental company located in Queens, NY.</p>
          <ul>
            <li>Worked with designer to deliver responsive studio rental site.</li>
            <li>Brought designs wireframes mockups and PSD’s into html and css.</li>
            <li>Built custom CMS to manage content, blog, active floor plan, and SEO using django.</li>
            <li>Deployed on Amazon Web Services with ec2 and s3.</li>
            <li>Instagram content integration via Instagram API and Angular.js.</li>
            <li>Maintain consistent communication with designer to adapt to client’s changing needs.</li>
          </ul>
          <div class="work-info">
            <p style="font-weight: bold;">Position:</p>
            <button md-button>Full Stack Web Developer</button>
          </div>
        </div>
        <div class="col s12 m6">
          <img class="responsive-img" src="https://s3.amazonaws.com/ryu-portfolio/static/img/rock.png">
          <img class="responsive-img" src="https://s3.amazonaws.com/ryu-portfolio/static/img/rock2.png">
        </div>
        <div class="col s12 work-tech">
          <p>Technologies:</p>
          <div class="row">
            <div class="center-align">
              <div class="col s6 m3">
                <button md-button>Angular.js</button>
              </div>
              <div class="col s6 m3">
                <button md-button>jQuery</button>
              </div>
              <div class="col s6 m3">
                <button md-button>Django</button>
              </div>
              <div class="col s6 m3">
                <button md-button>Materialize</button>
              </div>
              <div class="col s6 m3">
                <button md-button>PostgreSQL</button>
              </div>
              <div class="col s6 m3">
                <button md-button>Apache</button>
              </div>
              <div class="col s6 m3">
                <button md-button>AWS</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 work-links">
          <p>Links:</p>
          <div class="row center-align">
            <div class="col s12 m4 l3">
              <a href="http://www.rockwallstudios.nyc" target="_blank" md-button>
                <md-icon>web</md-icon>
                Go to the website
              </a>
            </div>
            <div class="col s12 m4 l3 offset-l1">
              <a href="https://github.com/ryusuke15/Rockwall" target="_blank" md-button>
                <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                Check out the code
              </a>
            </div>
          </div>
        </div>
        <div class="col s12">
          <hr>
        </div>
      </div>
<!--  -->
    <div class="col l1 left-side center-align hide-on-med-and-down">
      <button disabled md-fab>
        <md-icon>business</md-icon>
      </button>
      <p>Past Exp.</p>
    </div>
<!--  -->
    <div class="col s12 l11 right-side">
      <div class="row work-past">
        <div class="col s12 m6"><p>Research Assistant, IR Japan, New York, NY</p></div>
        <div class="col s12 m6"><p>January 2013 - March 2014</p></div>
        <div class="col s12 m6"><p>Production Assistant, TK Digital, Brooklyn , NY</p></div>
        <div class="col s12 m6"><p>July 2012 - October 2012</p></div>
        <div class="col s12"><hr></div>
      </div>
    </div>
<!--  -->
    <div class="col l1 left-side center-align hide-on-med-and-down">
      <button disabled md-fab>
        <md-icon>school</md-icon>
      </button>
      <p>Edu.</p>
    </div>
<!--  -->
    <div class="col s12 l11 right-side">
      <div class="row">
        <div class="col s12 m6"><p>General Assembly, New York, NY</p></div>
        <div class="col s12 m6"><p>Full Stack Web Development Immersive, 2015</p></div>
        <div class="col s12 m6"><p>Marymount Manhattan College, New York, NY</p></div>
        <div class="col s12 m6"><p>BA, Communication Arts, 2012</p></div>
      </div>
    </div>
  </div>
</div>
