<div class="page-format">
  <div class="home">
    <div class="row">
      <div class="col s12">
        <h3>Hello, My name is Ryusuke.</h3>
      </div>
      <div class="col s12">
        <h4> I'm a freelance programmer specialized in both <span>front-end</span> and <span>back-end web development.</span></h4>
      </div>
      <div class="col s12">
        <a routerLink="/about" md-button>ABOUT</a>
      </div>
      <div class="col s12">
        <a routerLink="/work" md-button>WORK</a>
      </div>
    </div>
  </div>
</div>
